name: "Job: Litting"
on:
  workflow_call:
    inputs:
      configuration:
        required: true
        type: string

jobs:
  lint:
    name: Litting
    runs-on: ubuntu-latest
    if: toJson(inputs.configuration.matrix) != '[]'
    strategy:
      fail-fast: false
      matrix:
        chart: ${{ fromJson(inputs.configuration).matrix }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v2.0
        with:
          version: v3.7.2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.2.0

      - name: Generate exclude string
        id: excluded-charts
        run: |
          exclude=$(./.github/scripts/generate-chart-exclude-string.sh "${{ matrix.chart.path }}")
          echo "::set-output name=excluded-charts::$exclude"
          echo $exclude

      - name: Check if version bump is required
        run: |
          ct lint \
            --config .github/ct.yaml \
            --excluded-charts "${{ steps.excluded-charts.outputs.excluded-charts }}"

      - name: Lint chart
        run: ct lint --config .github/ct.yaml --charts "${{ matrix.chart.path }}"
